.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.section1 {
  background-image: url("/images/Ellipse 119.svg");
  background-size: cover;
  background-position: bottom;
  min-height: 130vh;
}

.content > div {
  flex: 1;
}

.content_left {
  display: flex;
  flex-direction: column;
}

.heading {
  font-size: 48px;
  font-weight: 700;
}

.sub_heading {
  font-size: 20px;
  font-weight: 700;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_item {
  border: none;
  background: inherit;
  cursor: pointer;
}

.sign_in {
  border: 1px solid #000;
  padding: 8px 10px;
  border-radius: 0.3rem;
}
.sign_in:hover {
  background: #000;
  color: yellow;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.find {
  display: flex;
}

.find_inp {
  flex: 1;
  margin: 1rem 0;
  font-family: "Helvetica", FontAwesome, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
}

.find_btn {
  margin: 1rem;
  background: #333;
  color: #fff;
  cursor: pointer;
}

.content > div > img {
  width: 100%;
  height: 100%;
}

.find_inp,
.find_btn {
  border: none;
  padding: 0.8rem 1.4rem;
  border-radius: 0.6rem;
  font-size: 18px;
  font-weight: 700;
}

.section2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12% 0 0 0;
}

.background_ellipse_section2 {
  position: absolute;
  top: 0;
  right: 0;
  background-image: url("/images/Ellipse 118.svg");
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 25%;
  min-height: 100%;
  text-align: center;
  z-index: -1;
  font-size: 24px;
  padding: 10% 2%;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  grid-gap: 2rem;
}

.dish {
  position: unset !important;
  width: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.dish_img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.dish > div {
  position: unset !important;
}

.section3 {
  padding: 0 10px;
}

.location_grid {
  display: grid;
}
.location_grid > div {
  position: relative;
}
.location_grid > div > div {
  filter: brightness(0.5);
}
.location_grid > div > .city_name {
  position: absolute;
  bottom: 0;
  font-size: 20px;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.section4 {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 15% 18%;
}

.background_ellipse_section4 {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/images/Ellipse 117.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 20%;
  min-height: 100%;
  text-align: center;
  z-index: -1;
  font-size: 24px;
  padding: 10% 2%;
  font-weight: 700;
}

.about {
  font-size: 24px;
  word-break: break-all;
  padding: 20px;
}

.about_sub {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_sub > div {
  padding: 20px;
}

.sub_img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.unset_sub_img {
  width: 100%;
  padding: 40px;
}
.unset_sub_img > div {
  position: unset !important;
}

.about_sub > div > .sub_title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 20px 0;
}
.about_sub > div > .sub_summary {
  font-size: 20px;
  word-break: break-all;
}

.section5 {
  position: relative;
  background-image: url("/images/chef.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.section_left {
  position: relative;
  color: #fff;
  min-height: inherit;
  width: 400px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
  font-size: 1.2rem;
}

.sticker {
  position: absolute;
  top: 10%;
  right: 0;
  font-weight: 700;
  padding: 0.6rem 1.2rem;
  background: linear-gradient(180deg, #ffee32 0%, #ffd100 83.33%);
  cursor: pointer;
}

.border_elem {
  background-image: url("/images/frame.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 10%;
  right: -50%;
  height: 80%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.section_left > .section5_box_content {
  margin: auto;
  transform: translateY(calc(50% + 40px));
  padding: 20px 40px;
  z-index: 0;
}

.section_left > .section5_box_content > .sign_up_store {
  padding: 0.6rem 1.2rem;
  margin: 20px 0;
  border: none;
  border-radius: 0.3rem;
  font-weight: 700;
  background: linear-gradient(180deg, #ffee32 0%, #ffd100 83.33%);
  cursor: pointer;
}

.section6 {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  min-height: 150vh;
  background-image: url("/images/Ellipse 124.png");
  background-repeat: no-repeat;
  background-size: auto 90%;
  background-position: left bottom;
}

.section6 > div {
  flex: 1;
  max-width: 50%;
  padding: 10%;
}

.section6_left {
  background-image: url("/images/devices.svg");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.section6_right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 20px;
  box-sizing: border-box;
  line-height: 2rem;
  font-size: 20px;
}

.section6_right > p {
  padding: 20px 0;
}

.section6_right_bg {
  position: absolute;
  top: 5%;
  width: 300px;
  height: 300px;
  background-image: url("/images/Ellipse 123.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 28px;
  font-weight: 700;
  padding: 24px;
  text-align: center;
  line-height: 250px;
}

.download_btn {
  width: 150px;
  padding: 8px 20px;
  background: #000;
  color: #fff;
  border-radius: 0.3rem;
  border: none;
  margin: 10px 10px 10px 0;
  cursor: pointer;
}

.download_btn > span {
  text-align: left;
}

.download_btn > i {
  margin-right: 8px;
  font-size: 20px;
  line-height: 2rem;
  float: left;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 50vh;
  background: #202020;
  color: #fff;
  padding: 20px;
}

.highlighted {
  color: yellow;
  cursor: pointer;
}

.footer > div {
  flex: 1;
  height: 100%;
  padding: 40px;
  line-height: 1.5rem;
}

.footer > div > p {
  padding: 10px 0;
}

.footer > div > p > i {
  margin-right: 10px;
  color: yellow;
}

.footer > div > ul {
  list-style: none;
  border-left: 1px solid #fff;
  min-height: 100%;
  line-height: 2rem;
}

.footer > div > ul > li {
  border-left: 3px solid transparent;
  padding: 0 0 20px 20px;
  transform: translateX(-1.5px);
}

.footer > div > ul > li > a {
  cursor: pointer;
}

.footer > div > ul > li > a:hover {
  margin-left: 10px;
}

.footer > div > ul > li:nth-child(1) {
  border-left: 3px solid yellow;
  font-size: 24px;
  font-weight: 700;
}

.social_links {
  font-size: 20px;
  text-align: right;
}

.social_links > p {
  margin-bottom: 10px;
}

.social_links > div > i {
  background: yellow;
  padding: 10px;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  color: #202020;
  cursor: pointer;
  font-weight: 700;
  border: 1px solid transparent;
}

.social_links > div > i:hover {
  color: yellow;
  background: #202020;
  border: 1px solid yellow;
}

.copy {
  min-height: 4vh;
  padding: 10px;
  width: 100%;
  text-align: center;
  line-height: 8vh;
  color: #fff;
  background: #333533;
}

@media only screen and (max-width: 780px) {
  .section1 {
    min-height: 100vh;
  }
  .navbar {
    padding: 0 1.5rem;
  }
  .navbar_right {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
  }
  .navbar > div {
    flex: 1;
  }
  .nav_item {
    margin: 10px;
  }
  .sign_in {
    padding: 3px;
  }
  .section2 {
    padding: 20% 20px;
  }
  .grid {
    grid-gap: 10px;
  }
  .background_ellipse_section2 {
    font-size: 10px;
  }
  .background_ellipse_section4 {
    font-size: 10px;
  }
  .content {
    flex-direction: column-reverse;
  }
  .content > div {
    padding: 1.5rem;
  }
  .content_left {
    flex-direction: column-reverse;
  }
  .text {
    padding: 0.5rem;
  }
  .heading {
    font-size: 32px;
    padding: 5px 0;
  }
  .sub_heading {
    font-size: 18px;
    font-weight: 500;
  }
  .find_btn,
  .find_inp {
    margin: 5px;
  }
  .section3 {
    padding: 20px;
  }
  .section3_heading {
    padding: 20px 0;
    font-size: 24px;
    font-weight: 700;
  }
  .location_grid {
    grid-template: repeat(2, 50%) / repeat(3, auto);
    grid-gap: 10px;
    height: 400px;
  }

  .section4 {
    padding: 15% 20px;
  }

  .about_sub {
    flex-direction: column;
  }
  .section_left {
    width: 100%;
  }
  .border_elem {
    display: none;
  }
  .footer {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
  }
  .social_links {
    text-align: left;
  }
  .social_links > div > i {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media only screen and (min-width: 780px) {
  .section2 {
    min-height: 100vh;
  }
  .logo {
    margin: 1rem 0;
    cursor: pointer;
  }
  .nav_item {
    margin: 1rem;
  }
  .grid {
    padding: 1rem 10% 0 10%;
  }
  .grid > img {
    width: calc((100% / 4) - 2rem);
    margin: 1rem;
  }
  .content > div {
    padding: 3rem;
  }
  .navbar {
    padding: 0 3rem;
  }
  .section3 {
    margin: 10% auto;
    min-height: 100vh;
    padding: 0 10%;
  }
  .section3_heading {
    font-size: 35px;
    font-weight: 700;
    padding: 20px 0;
  }
  .location_grid {
    width: 100%;
    grid-gap: 10px;
    grid-template-areas:
      "item0 . ."
      "item0 . .";
  }
  .location_grid > div {
    height: 320px;
    width: 100%;
  }
  .location_grid > div > div {
    height: 100%;
    width: 100%;
  }
  .item0 {
    height: 650px !important;
    grid-area: item0;
  }
  .item5 {
    display: none;
  }
  .about_sub > div {
    width: calc(100% / 3);
  }
}

@media (max-width: 1200px) {
  .footer {
    display: none;
  }

  .section6 {
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .content > div > img {
    width: 80%;
    height: 80%;
  }
}
@media only screen and (min-width: 1500px) {
  .content > div > img {
    width: 60%;
    height: 60%;
  }
}
